html {
  overflow-x: hidden !important;
}

body {
  font-family: "BPG Mrgvlovani Caps 2010";
  color: var(--dark-color);
  line-height: normal;
  overflow-x: hidden;
}
:root {
  --dark-color: #2a2a2a;
  --light-color: #e22f0e;
  --grey-color: #5e5e5e;
  --transition: all 0.3s ease;
  --border-radius-25: 25px;
}
.img_fluid {
  width: 100%;
  height: 100%;
  display: block;
}
.product_image img,
.s1 img,
.product_img img,
.banner_img img {
  object-fit: cover;
  object-position: center;
}
/*mobile_menu*/
.overflow_hidden {
  overflow: hidden !important;
}
.mobile_menu_block {
  display: none;
  padding: 18px 3rem;
  background-color: var(--dark-color);
}
.burger_menu {
  background: transparent;
  cursor: pointer;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  -webkit-animation: burgerAnimation 3s linear infinite alternate;
  animation: burgerAnimation 3s linear infinite alternate;
  width: 30px;
  height: 23px;
  padding: 0px 5px;
  border-radius: 2px;
}

.burger__ {
  display: block;
  width: 100%;
  height: 20px;
  cursor: pointer;
  text-decoration: none;
}

.burger__ i {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 3px;
  color: #fff;
  text-transform: uppercase;
  text-indent: -55px;
  background: #fff;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.burger__ i::before {
  top: -7px;
}

.burger__ i::before,
.burger__ i::after {
  content: "";
  width: 100%;
  height: 3px;
  background: #fff;
  position: absolute;
  left: 0;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.burger__ i::after {
  bottom: -7px;
}

.burger__.burg_act i {
  background: transparent;
}

.burger__.burg_act i::before {
  top: 0;
  -webkit-transform: rotateZ(45deg);
  -ms-transform: rotate(45deg);
  transform: rotateZ(45deg);
}

.burger__.burg_act i::after {
  bottom: 0;
  -webkit-transform: rotateZ(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotateZ(-45deg);
}

.mobile_navigation {
  position: fixed;
  z-index: 999;
  background: var(--dark-color);
  width: 100%;
  height: 100%;
  top: 100px;
  left: -2px;
  margin: 0px !important;
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  padding-left: 3rem;
  padding-right: 3rem;
  color: #fff;
}
.mobile_navigation .accordion div {
  border: none;
}
.mobile_navigation .accordion-item {
  border: none;
}
.mobile_navigation .accordion-item:first-of-type .accordion-button,
.mobile_navigation .accordion-item:last-of-type .accordion-button.collapsed {
  border-radius: 0;
}
.mobile_navigation .accordion-button::after {
  background-image: url("../img/sm_arrow.svg");
  width: 15px;
  height: 15px;
  background-size: 100%;
}
.mobile_navigation .accordion-button:focus {
  border: none;
  box-shadow: none;
}
.mobile_navigation .accordion-item:first-of-type {
  border: none;
}
.mobile_navigation .accordion-button:not(.collapsed),
.mobile_navigation .accordion-button,
.mobile_navigation .accordion-body,
.mobile_navigation .accordion-item {
  background-color: var(--dark-color);
  color: #fff;
}
.mobile_navigation .accordion-button:not(.collapsed) {
  box-shadow: none;
}
.nav_act {
  -webkit-transform: translateX(0%) !important;
  -ms-transform: translateX(0%) !important;
  transform: translateX(0%) !important;
  -webkit-transition-delay: 0.3s !important;
  -o-transition-delay: 0.3s !important;
  transition-delay: 0.3s !important;
  left: 0px;
}
.mobile_menu_logo {
  width: 114px;
  height: 64px;
}
.nav_li {
  position: relative;
  margin-bottom: 25px;
  font-size: 18px;
  font-family: "Chromatica md";
}

.nav_li:hover .nav_menu {
  opacity: 1;
  visibility: visible;
  z-index: 1;
}

.overflow_hidden {
  overflow: hidden !important;
}

.mobile_contact_block .contact_ {
  font-size: 16px;
  color: #1f273b !important;
  font-family: "BPG ExtraSquare Mtavruli";
}

/*mobile_menu end*/
.top_logo {
  width: 166px;
  height: 91px;
  margin: 70px auto;
}
.sidenav {
  height: 100%;
  width: 319px;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  background-color: var(--dark-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ul_list li {
  color: #fff !important;
  display: block;
  font-size: 14px;
  height: 47px;
  width: 100%;
}

.ul_list li:hover > a {
  background: #fff;
}
.ul_list li:hover {
  color: #000 !important;
}
.ul_list li:hover .icon path,
.ul_list li:hover .icon path text,
.ul_list li:hover .arrow_icon path {
  fill: #000 !important;
}
.percent {
  font-family: "ALK Life";
  font-size: 23px;
}
.ul_list a {
  padding: 12px 28px 12px 40px;
  display: block;
}
.ul_list ul {
  display: none;
}
.ul_list li {
  position: relative;
}
.inside_list {
  background-color: #fff;
  font-family: "BPG Nino Mtavruli bd";
}
.inside_list li,
.inside_list li a {
  width: 100%;
  display: block;
  transition: var(--transition);
}
.inside_list li a {
  display: block;
  font-size: 12px;
  color: black !important;
  padding: 12px 15px;
  height: 100%;
}
.ul_list li:hover .inside_list {
  top: 0;
  box-sizing: border-box;
  height: auto;
  display: block;
  position: absolute;
  left: 319px;
  width: 200px;
  overflow: auto;
  z-index: 99;
}
.inside_list li:hover a {
  background-color: #ececec;
}
.items_box p {
  padding-top: 3px;
}
.icon {
  width: 30px;
}
.main,
.footer_ {
  margin-left: 319px;
}
.social_items {
  color: #fff;
  margin: 70px auto;
}
.slider_item {
  width: 100%;
  height: 785px;
}
.slider_img {
  width: 100%;
  height: 100%;
}
.s1 .swiper-pagination {
  bottom: 40px;
}
.s1 .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
}
.s1 .swiper-pagination-bullet-active {
  background-color: #cfcfcf;
}
.swiper-pagination-bullet {
  opacity: 1;
  border: 2px solid #fff;
  background-color: transparent;
}
.slider_txt {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.slider_txt .title_ {
  width: 396px;
  text-align: center;
  margin-bottom: 50px;
}
.title_ {
  color: #fff;
  font-size: 55px;
  font-family: "BPG Nino Mtavruli bd";
}
.slider_txt .title_ span {
  color: var(--light-color);
}
.btn_ {
  transition: var(--transition);
  color: #fff;
  border: 2px solid #fff;
  border-radius: var(--border-radius-25);
  font-size: 14px;
  padding: 14px 40px;
  width: 232px;
  text-align: center;
}
.btn_:hover,
.grey_btn:hover {
  background-color: var(--light-color);
  border: 2px solid var(--light-color);
  color: #fff;
}
.product_section {
  padding-bottom: 80px;
}
.product_item {
  height: 552px;
  transition: var(--transition);
}
.product_title {
  margin-bottom: 30px;
  font-size: 30px;
  color: #fff;
}
.product_img {
  height: 100%;
}
.product_item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 10%);
  transition: var(--transition);
}
.product_info {
  left: 50%;
  transform: translate(-50%);
  bottom: 80px;
  width: 100%;
}
.arrow_right {
  width: 36px;
  height: 36px;
  background-color: var(--light-color);
  color: #fff;
  border-radius: 50%;
  font-size: 14px;
}
.link_ {
  display: none;
  transition: var(--transition);
}
.product_item:hover::before {
  background-color: rgba(0, 0, 0, 50%);
}
.product_item:hover .link_ {
  display: block;
  transition: var(--transition);
}
.main_title {
  font-size: 30px;
  color: var(--light-color);
}
.product_name {
  font-size: 18px;
  margin: 30px 0 20px;
}
.product_image {
  width: 100%;
  height: 440px;
}
.product_price {
  color: var(--grey-color);
}
.grey_btn {
  color: #b8b8b8;
  border: 2px solid #b8b8b8;
}
.banner_img {
  height: 548px;
  width: 100%;
}
.sub_title {
  font-size: 55px;
  font-family: "BPG Nino Mtavruli bd";
  color: #fff;
  margin-bottom: 65px;
}
.sub_title span {
  color: var(--light-color);
}
.txt_block {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.percent_,
.sale {
  top: 30px;
  width: 97px;
  height: 44px;
  color: #fff;
  font-size: 23px;
}
.percent_ {
  left: 30px;
  background-color: #000;
}
.sale {
  right: 30px;
  background-color: var(--light-color);
}
.news_price {
  color: var(--light-color);
  margin-left: 18px;
}
.old_price {
  text-decoration: line-through;
}
.footer_ {
  background-color: #f6f6f6;
}
.footer_block {
  width: 1055px;
  margin: 0 auto;
  padding: 50px 0;
}
.footer_logo {
  margin-bottom: 30px;
  width: 349px;
  height: 68px;
}
.footer_list li {
  color: var(--grey-color);
  margin-bottom: 25px;
  font-family: "BPG Mrgvlovani";
}
.footer_list li:last-child {
  margin-bottom: 0;
}
.form_input {
  width: 484px;
  height: 50px;
}
.form_input input {
  background-color: #fff;
  width: 100%;
  height: 100%;
  border: none;
  padding: 10px;
  font-size: 12px;
  font-family: "BPG Mrgvlovani";
}
.form_input input::placeholder {
  font-size: 12px;
}
.footer_right {
  margin-top: 25px;
}
.send_btn {
  background-color: var(--light-color);
  width: 67px;
  height: 100%;
  color: #fff;
  top: 0;
  right: 0;
}
.sm_title {
  font-size: 20px;
}
.sm_txt {
  font-size: 14px;
  font-family: "BPG Mrgvlovani";
  color: var(--grey-color);
}
.black_icons {
  color: #000;
}
.footer_bottom {
  border-top: 1px solid #b8b8b8;
  padding: 20px 0;
  font-size: 14px;
  font-family: "BPG Mrgvlovani";
  color: #b8b8b8;
}
.footer_bottom span {
  color: var(--light-color);
}
.product_list {
  padding-left: 54px;
}
.product_list li a {
  font-size: 12px;
}
.product_list li a p {
  min-width: 90px;
}
.product_list li a i {
  padding-left: 10px;
  color: var(--light-color);
}
.accordion-item .items_box p {
  font-size: 14px;
}
.bg_img {
  height: 500px;
}
.text_block {
  top: 120px;
  left: 50%;
  transform: translate(-50%);
}
.filter_block {
  margin-bottom: 40px;
}
.filter_ul li {
  margin-right: 40px;
}
.filter_ul li,
.filter_type {
  font-size: 14px;
  font-family: "BPG Nino Mtavruli bd";
}
.filter_ul li:last-child {
  margin-right: 0;
}
.filter_ul li a.active {
  color: var(--light-color) !important;
}
.filter_type {
  color: var(--grey-color);
}
.filter_type i {
  margin-left: 10px;
}
.filter_type p {
  padding-top: 2px;
}
.pagination {
  display: inline-block;
}

.pagination a {
  color: var(--grey-color) !important;
  float: left;
  padding: 8px;
  text-decoration: none;
}
.pagination a.active {
  color: var(--light-color) !important;
}
.pagination a i {
  color: #000 !important;
}
.select_box {
  width: 48%;
}
.select_box .form-select {
  border-radius: 5px;
  border: 1px solid #b8b8b8;
  background-image: none;
  height: 45px;
  font-size: 14px;
  font-family: "BPG Nino Mtavruli bd";
}
.form-select:focus {
  box-shadow: none;
}
.select_box .form-select option {
  font-size: 11px;
}
.contact_section {
  padding-right: 130px;
}
.map_ {
  height: 629px;
  width: 100%;
}
.contact_title {
  font-size: 30px;
  font-family: "BPG Nino Mtavruli bd";
  margin-bottom: 10px;
}
.contact_sm {
  font-size: 10px;
  color: var(--grey-color);
  margin-bottom: 40px;
}
.contact_block {
  padding: 50px 0 50px 45px;
}
.form_item input {
  height: 60px;
  padding-left: 20px;
}
.form_item input,
.textarea textarea {
  width: 100%;
  font-family: "BPG Mrgvlovani";
  font-size: 12px;
  border: none;
  background-color: #f8f8f8;
}
.textarea textarea {
  resize: none;
  height: 164px;
  padding: 20px;
}
.textarea textarea:focus {
  outline: none;
}
.send_button {
  width: 100%;
  height: 60px;
  background-color: var(--light-color);
  color: #fff;
  font-size: 14px;
}
